body {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
}

.registration-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 96vh;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 40px;
}

.registration-box {
    margin-top: 100px;
    background: linear-gradient(60deg, rgba(94, 93, 93, 0.5) 0%, rgba(25, 25, 26, 0.8) 100%);
    color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    box-sizing: border-box;
    width: 20%; 
}

.registration-container h2 {
    font-size: 24px;
    text-align: center;
}

.registration-container form {
    margin-top: 20px;
}

.registration-container label {
    width: 100%;
    display: block;
    margin-bottom: 10px;
}

.registration-container input {
    font-size: 15px;
    margin-top: 10px;
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    border: 1px solid #4d4b4b;
    border-radius: 4px;
    padding: 5px;
    color: #000;
}

.registration-container button {
    padding: 6px 12px;
    border-radius: 5px;
    border: none;
    background-color: #FF80BC;
    color: #ffffff;
    cursor: pointer;
    font-size: 18px;
    margin-top: 10px;
    width: 100%
    
}
.registration-container button:hover{
    background-color: #FF6699; 
}

.have-account-text {
    margin-top: 10px;
}

.have-account-text a {
    color: #FF80BC;
}


.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #FF80BC;
    color: #fff;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}