.movie-container {
    position: relative;
    padding: 2px;
    text-align: center;
    margin-top: 130px;
    transition: transform 0.4s;
    box-sizing: border-box;
    
  }

  .movie-container:hover {
    transform: scale(1);
  }
  
  .movie-poster {
    width: 250px;
    height: 360px;
    margin-bottom: 25px;
    border-radius: 10px;
    transition: transform 0.4s; 
  }

  .movie-container:hover .movie-poster {
    transform: scale(1.12);
  }
  
  .movie-title {
    font-size: 1.2rem;
    margin-bottom: 5px;
    color: #ffffff;
  }
  
  .movie-rating {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .star-icon {
    color: #FF80BC;
    margin-right: 5px;
  }
  
  .rating-value {
    font-size: 1.1rem;
    font-weight: bold;
    color: #ffffff;
  }
  
  .movie-list {
    display: grid;
    grid-template-columns: repeat(6, 1fr); 
  }
  